@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&family=Edu+SA+Beginner&display=swap');

html {
    scroll-behavior: smooth;
}

/* Reset default margin and padding for all elements */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.6;
}

/* Center the content within the viewport */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f9f9f9;
}

/* Add spacing around the header */
header {
    text-align: center;
    padding: 20px;
    background-color: #84045e;
    color: #fff;
    border-radius: 8px 8px 0 0;
    font-family: cinzel, sans-serif;
}

/* Style the navigation links */
nav {
    background-color: #84045e;
    padding: 10px;
    text-align: center;
    border-radius: 0 0 8px 8px;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 18px;

}

/* Style the sections */
section {
    padding: 50px;
    text-align: center;
}

section:nth-child(even) {
    background-color: #f9f9f9;
}

/* Add spacing between the sections */
section:not(:first-child) {
    margin-top: 20px;
}

nav a:hover {
    text-decoration: underline;
}



/* Center the content within the viewport */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f9f9f9;
    font-family: edu sa beginner;

}

/* Style sections */
section {
    max-width: 800px;
    margin: 20px;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}



section h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

section p {
    font-size: 16px;
    margin-bottom: 10px;
}

/* Add spacing between sections */
section:not(:first-child) {
    margin-top: 40px;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d662af;
    color: #333;
}

h2 {
    text-align: center;
}

/* Add Images to get started */
/* Style for the section container */
#get-started {
    max-width: 800px; /* Adjust as needed */
    margin: 0 auto; /* Center the section horizontally */
  }
  
  /* Style for the content container */
  .content {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two equal columns */
    gap: 20px; /* Gap between the columns */
    align-items: flex-start; /* Align items at the top */
  }
  
  /* Style for the text column */
  .text-column {
    /* Add any additional styling for the text column */
  }
  
  /* Style for the image column */
  .image-column {
    max-width: 300px; /* Limit the width of the images */
  }
  
  .image-column img {
    width: 100%;
    height: auto;
    display: block;
  }
  

  
footer {
    background-color: #84045e;
    color: #f5f0f3;
    text-align: center;
    width: 100%;
    height: 2.5rem;

}